<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="i608">
	<xacro:macro name="i608_arm">
		<group name="i608_arm">
			<chain base_link="base_link" tip_link="link_6" />
		</group>

		<group name="hand">
			<link name="gripper" />
		</group>

		<end_effector name="hand" group="hand" parent_group="i608_arm" parent_link="link_6" />

		<virtual_joint name="virtual_joint" type="fixed" parent_frame="world" child_link="base_link" />

		<disable_collisions link1="base_link" link2="link_2" reason="Adjacent" />
		<disable_collisions link1="gripper" link2="link_4" reason="Never" />
		<disable_collisions link1="gripper" link2="link_5" reason="Default" />
		<disable_collisions link1="gripper" link2="link_6" reason="Adjacent" />
		<disable_collisions link1="link_2" link2="link_3" reason="Adjacent" />
		<disable_collisions link1="link_3" link2="link_4" reason="Adjacent" />
		<disable_collisions link1="link_3" link2="link_5" reason="Never" />
		<disable_collisions link1="link_4" link2="link_5" reason="Adjacent" />
		<disable_collisions link1="link_4" link2="link_6" reason="Never" />
		<disable_collisions link1="link_5" link2="link_6" reason="Adjacent" />

	</xacro:macro>
</robot>