<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="i608">
	<xacro:macro name="i608_ros2_control" params="name initial_position_file">
		<xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"></xacro:property>
	</xacro:macro>
</robot>